In [81]:
# Python Workshop

In [82]:
# Standard Math Operations in Python 
# Addition +, Subtraction -, Multiplication *, Division /, Integer Division // 
# Exponentiation **, Modulo/Remainder %

In [83]:
# Basic Math Operations 
5 + 2

7

In [84]:
10 - 8

2

In [85]:
5 * 3

15

In [86]:
8 / 2

4.0

In [87]:
8 // 2

4

In [88]:
5 ** 2

25

In [89]:
11 % 2 # 2 goes into 11 remaining 1

1

In [90]:
# Variables => memory slots used to store elements of any type. 
x = 2 
x + 1

3

In [91]:
# Checking the type 
y = 10 
type(y)

int

In [92]:
# Some restrictions to naming variables 
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [93]:
# Assigning Multiple Variables in python 
x = 5 
y = 2 
x + x - y ** 2

6

In [94]:
# Can assign variables in one line 
x, y = 8, 5 
x % y

3

In [95]:
# Docstrings => intended to be written over multiple lines 
"""
 This document displays what docstrings are 
"""

'\n This document displays what docstrings are \n'

In [96]:
# String Data Type
bookstore = 'Jesse\'s'
print(bookstore)

Jesse's

In [97]:
greetings = "Hello Jesse" 
print(greetings)

Hello Jesse

In [98]:
# String concatenation => adding two strings together 
ghana_greeting = "Maakye"
my_name = " Jesse"
print(ghana_greeting + my_name)

Maakye Jesse

In [99]:
# String interpolation 
owner = "Jesse Mensah"
restaurant_name = "Kissies" 
print('The {} restaurant is owned by {}'.format(restaurant_name, owner))

The Kissies restaurant is owned by Jesse Mensah

In [100]:
# Checking the length of a string 
len(owner)

12

In [101]:
# String Methods 
name = 'Jesse' 
realname = name.lower() 
print(realname)

jesse

In [102]:
realname = name.capitalize() 
print(realname)

Jesse

In [103]:
realname = name.upper() 
print(realname)

JESSE

In [104]:
# Casting => expressing numbers as strings when dealing with inputs. 
type('5')

str

In [105]:
'5' + '7'

'57'

In [106]:
# convert a string into an integer 
int('10') + int('20')

30

In [107]:
# Input function => used to take user input. 
print("What is your name?")

What is your name?

In [108]:
name = input() 
print('Hello, ' + name + '.')

Hello, .

In [109]:
# String Indexing and Slicing 
# This is very important in data analysis to keep track of rows and columns 
# Indexing => finding specific locations of characters in a string 
my_location = 'Stirling' 
my_location[-1]

'g'

In [110]:
my_location[5]

'i'

In [111]:
my_location[-5]

'r'

In [112]:
# Slicing => getting some characters out of a string 
my_location[0:4]

'Stir'

In [113]:
my_location[:4]

'Stir'

In [114]:
# Booleans and Conditionals 
over_18 = True 
type(over_18)

bool

In [115]:
over_21 = False 
type(over_21)

bool

In [116]:
# Logical Operators => and, or, not operators 
True and True

True

In [117]:
True and False

False

In [118]:
True or True

True

In [119]:
True or False

True

In [120]:
not True

False

In [121]:
not False

True

In [122]:
# Comparison Operators 
# < less than, <= less than or equal to, > greater than, >= greater than or equal to 
# == equal to, != not equal to

In [123]:
age = 20 
age < 13

False

In [124]:
age >= 20 and age <= 30

True

In [125]:
age != 21

True

In [126]:
age == 19

False

In [127]:
# Comparing strings, alphabetical order 
'a' < 'c'

True

In [130]:
# Conditionals 
# if statement 
if age < 18: 
    print("You arent old enough to vote")
else: 
    print("What else")

What else

In [131]:
age = 30 
if age >= 18 and age < 21: 
    print("At least you can vote")
else: 
    print("What else")

What else

In [132]:
# elif statement 
if age <= 10: 
    print("Listen, Learn and have fun")
elif age <= 19:
    print("Go fearless forward")
elif age <= 59:
    print("Stay physical")
else: print("Each day is a blessing")

Stay physical

In [133]:
# Loops => while & for loops

In [135]:
i = 1 
while i <= 10: 
    print(i) 
    i += 1

1
2
3
4
5
6
7
8
9
10

In [136]:
# break statement 
x = 100 
while x <= 1000:
    x += 1 
    if x % 17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17')
        break

 102 is the first number greater than 100 that is divisible by 17

In [137]:
# for loop 
for i in 'Portland':
    print(i)

P
o
r
t
l
a
n
d

In [138]:
for i in range(1, 10): print(i)

1
2
3
4
5
6
7
8
9

In [139]:
name = "Jesse" 
for i in range(3): 
    for i in name: 
        print(i)

J
e
s
s
e
J
e
s
s
e
J
e
s
s
e

In [140]:
# continue keyword 
for num in range(10, 100):
    if num % 2 == 0:
        continue 
    if num % 3 == 0:
        continue 
    if num % 5 == 0:
        continue 
    if num % 7 == 0:
        continue 
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97